.head>img {
    width: 50px;
    height: 30px;
}

.container>.head {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 0px 0px 15px;
}

.container>.head>img {
    width: 13%;
    height: 90px;
}

.container>.head>a {
    color: white;
    text-decoration: none;
    background-color: red;
    padding: 8px 18px 8px 18px;
    border-radius: 5px;
    margin: 0px 15px 0px 0px;
}

.banner:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    z-index: 1;
    background: linear-gradient (to bottom, black, transparent);
}

.banner:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    z-index: 1;
    background: linear-gradient (to top, black, transparent);
}

.banner {
    height: 620px;
    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/87a1d9d8-a21d-4109-ba3a-c10d9055f5cf/2341e349-a6fc-4b04-a0ad-9b21defa1f88/IN-en-20220307-popsignuptwoweeks-perspective_alpha_website_medium.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.box {
    position: absolute;
    top: 55%;
    left: 45%;
    transform: translate(-50%, -50%);
}

h2 {
    font-size: 40px;
    color: white;
}

h5 {
    font-size: 25px;
    color: white;
    text-align: center;
}

p {
    font-size: 20px;
    color: white;
    text-align: center;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search>input {
    font-size: 16px;
    border: 1px solid #8c8c8c;
    outline: none;
    color: black;
    border-radius: 2px;
    padding-bottom: 10px 10px 0px 0px;
    min-width: 400px;
    height: 60px;
    align-items: center;
}

.search>a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 400px;
    letter-spacing: 0.1 px;
    border-radius: 2px;
    background: #e50914;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
    font-size: 1.625 rem;
    line-height: 60px;
    min-width: 310px;
    padding: 0 30px;
}